<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.formation8.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.dili.formation8.domain.Order">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="price" jdbcType="BIGINT" property="price" />
    <result column="transaction_type" jdbcType="INTEGER" property="transactionType" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="withdraw_time" jdbcType="TIMESTAMP" property="withdrawTime" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />

  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, user_id, sku_id, product_id, count, order_number, status, price, transaction_type, 
    start_time, end_time, withdraw_time, finish_time
  </sql>
  <select id="selectEndOrder" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `order`
    <![CDATA[
    where end_time <= now()
    and status = 1
    ]]>
  </select>

  <update id="updateEndingOrderStatus">
    update `order` set `status`=2
    <![CDATA[
      where `end_time` <= now()
    ]]>
    and `status` = 1
  </update>

  <update id="updateBy" parameterType="com.dili.formation8.domain.Order">
    <!--
      WARNING - @mbg.generated
    -->
    update order
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null">
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=BIGINT},
      </if>
      <if test="transactionType != null">
        transaction_type = #{transactionType,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="withdrawTime != null">
        withdraw_time = #{withdrawTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>

    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>