<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.formation8.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.dili.formation8.domain.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="payment_code" jdbcType="VARCHAR" property="paymentCode" />
    <result column="referrer" jdbcType="BIGINT" property="referrer" />
    <result column="balance" jdbcType="BIGINT" property="balance" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="referral_code" jdbcType="VARCHAR" property="referralCode" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, password, payment_code, referrer, balance, email, phone, type, referral_code,address
  </sql>

  <!-- 查询指定层级的推荐人 -->
  <select id="getParentReferrer" resultType="java.lang.Long" parameterType="com.dili.formation8.vo.UserVo">
    SELECT `getParentReferrer`(#{id}, #{level})
  </select>
  <!-- 余额调整, 转帐 -->
  <update id="transfer" parameterType="com.dili.formation8.vo.UserVo">
    update user set balance = balance+${transferAmount}
    where id=#{id,jdbcType=BIGINT}
  </update>





  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.formation8.domain.User">
    <!--
      WARNING - @mbg.generated
    -->
    update user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="paymentCode != null">
        payment_code = #{paymentCode,jdbcType=VARCHAR},
      </if>

      <if test="referrer != null">
        referrer = #{referrer,jdbcType=BIGINT},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=BIGINT},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="referralCode != null">
        referral_code = #{referralCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>

    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>